<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{fp.nombre}}">
  <ion-content class="padding">
    <img ng-src="{{fp.imagen}}" style="width: {{fp.ancho}}px; height: {{fp.alto}}px">
    <p>Lat: {{fp.lat}}, Lon: {{fp.lng}}</p>
    <p>{{ fp.destomtom }} icono {{fp.icono}}</p>
    <p>fecha: {{fp.date}}</p>
    <a href="{{fp.link}}">Para más info ver en la web</a>
    {{fp.html}}     
    {{fp.phtml}}  
    <div ng-bind-html="fp.html"></div>
    <div ng-bind-html="fp.phtml"></div>
   
    
  </ion-content>
</ion-view>
